body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
  flex: 1 0 auto;
  padding-top: 64px;
}
.containerPrincipal{
  padding-left: 25px;
}
.textoCentrado{
  text-align: center;
}
.contenidoPadding{
  padding-left: 22px;
}
select[required]:focus{
  outline: none !important;
}
select[required]{
  display: block;
  padding: 0;
  position: absolute;
  background: transparent;
  color: transparent;
  border: none;
  top: 0;
}
nav {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}